# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  version

metadata:
  author=Shane <shane@dmdirc.com>
  mainclass=com.dmdirc.addons.ui_swing.Apple
  description=Provides apple-specific stuff.
  name=ui_apple
  nicename=Apple UI Additions
  unloadable=no

version:
  friendly=0.6

services:
  apple

provides:
  swing apple

required-services:
  apple os

exports:
  getApplication in com.dmdirc.addons.ui_apple.ApplePlugin as apple_getApplication
  getNSApplication in com.dmdirc.addons.ui_apple.ApplePlugin as apple_getNSApplication
  isApple in com.dmdirc.addons.ui_apple.ApplePlugin as apple_isApple
  isAppleUI in com.dmdirc.addons.ui_apple.ApplePlugin as apple_isAppleUI
  setUISettings in com.dmdirc.addons.ui_apple.ApplePlugin as apple_setUISettings
  setListener in com.dmdirc.addons.ui_apple.ApplePlugin as apple_setListener
  setMenuBar in com.dmdirc.addons.ui_apple.ApplePlugin as apple_setMenuBar
  requestUserAttention in com.dmdirc.addons.ui_apple.ApplePlugin as apple_requestUserAttention

persistent:
  *